<template>
  <v-container fluid>
    <v-row>
      <v-col class="center" cols="12" md="6" >
        <h1>Text</h1>
        <v-row>
          <v-textarea solo label="Enter text here" v-model="text" @input="textToEgg"></v-textarea>
        </v-row>
        <h1>Egg Code</h1>
        <v-row>
          <v-textarea solo label="Or enter egg code here" v-model="eggCode" @input="eggToText"></v-textarea>
        </v-row>
        <h1>Egg Code v2 (shorter version)</h1>
        <v-row>
          <v-textarea solo label="Or enter egg code v2 here" v-model="eggCode2" @input="egg2ToText"></v-textarea>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
const stringToBinary = require("string-to-binary");
const binaryToString = require("binary-to-string");

function binaryToEgg(str) {
  let s = "";
  let i = 0;

  for (i = 0; i < str.length; i++) {
    if (i > 0 && i % 3 == 0) {
      s += " "
    }

    if (i % 3 == 0) {
      if (str[i] == "1") {
        s += "E";
      } else {
        s += "e";
      }
    } else {
      if (str[i] == "1") {
        s += "G";
      } else {
        s += "g";
      }
    }
  }

  if (i % 3 == 1) {
    s += "gg";
  } else if (i % 3 == 2) {
    s += "g";
  }

  return s;
}


function binaryToEgg2(str) {
  let s = "";
  // split binary string into 4 parts
  // 10 10 11 11
  // a  b  c  d
  let a = str.substring(0, 2);
  let b = str.substring(2, 4);
  let c = str.substring(4, 6);
  let d = str.substring(6, 8);
  
  if (a == "00") {
    s += "e"
  } else if (a == "01") {
    s += "E"
  } else if (a == "10") {
    s += "é";
  } else {
    s += "É";
  }
  
  if (b == "00") {
    s += "g"
  } else if (b == "01") {
    s += "G"
  } else if (b == "10") {
    s += "ǵ";
  } else {
    s += "Ǵ";
  }
  
  if (c == "00") {
    s += "g"
  } else if (c == "01") {
    s += "G"
  } else if (c == "10") {
    s += "ǵ";
  } else {
    s += "Ǵ";
  }
  
  if (d[0] == "1") {
    s = s.split("").reverse().join("");
  }
  
  if (d[1] == "1") {
    s += "?";
  }
  
  return s;
}

function decode(str) {
  str = removeWhitespace(str);
  let s = "";

  for (let i = 0; i < str.length; i++) {
    const c = str[i];
    if (c == "E" || c == "G") {
      s += "1";
    } else if (c == "e" || c == "g") {
      s += "0";
    } else {
      return "Invalid egg code."
    }
  }

  return binaryToString(s);
}

function encode(str) {
  const binary = stringToBinary(str);
  return binaryToEgg(binary);
}

function encode2(str) {
  let s = "";

  for (let i = 0; i < str.length; i++) {
    const binaryString = stringToBinary(str[i]);

    if (i > 0) {
      s += " ";
    }

    s += binaryToEgg2(binaryString);
  }

  return s;
}

function formatEggCode(str) {
  str = removeWhitespace(str);

  let s = "";

  for (let i = 0; i < str.length; i++) {
    if (i > 0 && i % 3 == 0) {
      s += " "
    }
    s += str[i];
  }

  return s;
}

function removeWhitespace(str) {
  return str.replace(/\s/g, "");
}


export default {
  name: 'App',
  data: () => {
    return {
      text: "",
      eggCode: "",
      eggCode2: "",
    }
  },
  methods: {
    textToEgg: function () {
      this.eggCode = encode(this.text);
      this.eggCode2 = encode2(this.text);
    },
    eggToText: function () {
      this.eggCode = formatEggCode(this.eggCode);
      this.text = decode(this.eggCode);
      this.eggCode2 = encode2(this.text);
    },
    egg2ToText: function () {

    },
  },
};
</script>

<style media="screen">
.center {
  margin-left: auto;
  margin-right: auto;
}
</style>
